<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item item-first active">
      <div class="container">
        <div class="carousel-caption">
          <h1>Pomysły</h1>
          <p>One sprawiają, że świat staje się lepszy :)</p>
          <% if current_user.nil? %>
            <p><%= link_to(I18n.t('navbar.right.signup'), new_user_registration_path, class: 'btn btn-lg btn-primary' )%></p>
          <% end %>
          <% if !current_user.nil? %>
              <p><%= link_to('Stwórz nowe pudełko na pomysły', new_manager_box_path, class: 'btn btn-lg btn-primary' ) %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="item item-second">
      <div class="container">
        <div class="carousel-caption">
          <h1>Cele</h1>
          <p>Pokazać, że głos każdego człowieka na ziemi ma znaczenie.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Więcej</a></p>
        </div>
      </div>
    </div>
    <div class="item item-third">
      <div class="container">
        <div class="carousel-caption">
          <h1>Codziennie staramy się dla Ciebie</h1>
          <p>Jeżeli masz dla nas sugestię, daj nam znać, abyśmy mogli być jeszcze lepsi :)</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Nasze pudełko na pomysły</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Poprzedni</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Następny</span>
  </a>
</div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <span class="flaticon-multiple25"></span>
      <h2>Użytkownik</h2>
      <p>Pokaż innym jak mogliby ulepszyć swoje produkty. Pokaż twórcą, że chcesz zmian.</p>
      <p><a class="btn btn-default" href="#" role="button">Więcej &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <span class="flaticon-settings48"></span>
      <h2>Twórca</h2>
      <p>Nawiąż kontakt ze społecznością i pokaż im jak wiele dla ciebie znaczą. Udostępnij pudełko.</p>
      <p><a class="btn btn-default" href="#" role="button">Więcej &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <span class="flaticon-brain13"></span>
      <h2>Marzyciel</h2>
      <p>Odnajdź nowe możliwości na wykożystanie pudełka i zmień świat :)</p>
      <p><a class="btn btn-default" href="#" role="button">Więcej &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Załóż pudełko na pomysły. <span class="text-muted">Pozwól swoim myślom płynąć.</span></h2>
      <p class="lead">Pokaż ludziom, że zależy Ci na tym co myślą i czego chcę. Dzięki temu dotrzesz do ich serc.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "box.png", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Bądź kreatywny. <span class="text-muted">Pokaż innym swój punkt widzenia.</span></h2>
      <p class="lead">Twój pomysł może zmienić świat.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag "ideas.png", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Wspieraj innych. <span class="text-muted">Głosuj, komentuj.</span></h2>
      <p class="lead">Twoja opinia jest bardzo ważna. Nie lekceważ tego. Pchnij swój głos w świat.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "comments.png", class: "featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


<%= render 'shared/footer' %>

</div><!-- /.container -->