<% content_for :css do %>
    <%= stylesheet_link_tag    'card-home', media: 'all' %>
<% end %>

<% content_for :js do %>
    <%= javascript_include_tag 'homepage' %>
<% end %>

<% content_for :title do %>
    Ideashare
<% end %>

<% content_for :titleup do %>
    - Główna
<% end %>

<% content_for :main_title do %>
    <span></span>
<% end %>

<% content_for :content do %>
    <div class="mdl-layout__tab-panel is-active mdl-grid ids-content" id="content">
      <section class="section--center mdl-grid">
        <div class="ids-homepage-text">
          <h3>Nowoczesna, darmowa platforma do współpracy z użytkownikami</h3>
          <%= link_to('Dowiedz się więcej',more_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored') %>
          <%= link_to('Nowe pudełko',new_box_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--ideashare-green--dark') %>
        </div>
      </section>
    </div>
    <div class="credit">
      Photo credit: <a href="http://www.flickr.com/photos/30330906@N04/">francisco_osorio</a> via <a href="http://foter.com/">Foter.com</a> / <a href="http://creativecommons.org/licenses/by/2.0/">CC BY</a>
    </div>
<% end %>

<% content_for :addbutton do %>

<% end %>

<% content_for :navbartop do %>
    <%= render "shared/navbar/top" %>
<% end %>