<!--  ONE CARD  -->
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">



  <header class="ideashare-idea ideashare-idea-header section__play-btn mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color-text--white <%=  idea.photo_file_name.nil? ? "ids-background-color" : "" %>">
    <div class="ideashare-idea-buttons" id="buttons-<%= idea.id %>">
      <div class="like idea-button">
        <%= link_to '<i class="material-icons ripple-effect" data-ripple-color="#aed136" data-ripple-limit=".section--center">thumb_up</i>'.html_safe, box_idea_like_path(idea.box,idea), method: :post, remote: true %>
        <p><%= idea.votes.where(rate: true).count %></p>
      </div>
      <div class="empty idea-button"></div>
      <div class="dislike idea-button">
        <%= link_to '<i class="material-icons ripple-effect" data-ripple-color="#d13636" data-ripple-limit=".section--center">thumb_down</i>'.html_safe, box_idea_dislike_path(idea.box,idea), method: :post, remote: true %>
        <p><%= idea.votes.where(rate: false).count %></p>
      </div>
    </div>
    <div class="ids-status"><%= t('box.'+idea.status) %></div>
    <div class="ids-card-title">
      <h3><%= link_to(idea.title, [@box, idea]) %></h3>
    </div>
    <%= image_tag(idea.photo.url(:medium), class: 'ids-image-card') unless idea.photo_file_name.nil? %>
  </header>
  <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone ideashare-idea-content">
    <div class="mdl-card__supporting-text">
      <%= markdown idea.description %>
    </div>
    <div class="mdl-card__actions">
      <a href="#" class="ideashare-link-action">
        <div class="mdl-card__actions--icon">
          <i class="material-icons">person</i>
        </div>
        <div class="mdl-card__actions--text">
          <%= idea.user.username %>
        </div>
      </a>
      <a href="#" class="ideashare-link-action">
        <div class="mdl-card__actions--icon">
          <i class="material-icons">comment</i>
        </div>
        <div class="mdl-card__actions--text">
          <%= t('comment', count: idea.comments.count) %>
        </div>
      </a>
    </div>
  </div>
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1-<%= idea.id %>">
    <i class="material-icons white">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1-<%= idea.id %>">
    <%= render 'ideas/menu', idea: idea %>
  </ul>
</section>