<section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
  <header class="ideashare-idea ideashare-idea-header section__play-btn mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color-text--white ids-background-color">
    <div class="ideashare-idea-buttons" id="buttons-<%= idea.id %>">
      <div class="like idea-button">
        <%= link_to '<i class="material-icons ripple-effect" data-ripple-color="#aed136" data-ripple-limit=".mdl-grid">thumb_up</i>'.html_safe, box_idea_like_path(idea.box,idea), method: :post, remote: true %>
        <p><%= idea.votes.where(rate: true).count %></p>
      </div>
      <div class="empty idea-button"></div>
      <div class="dislike idea-button">
        <%= link_to '<i class="material-icons ripple-effect" data-ripple-color="#d13636" data-ripple-limit=".mdl-grid">thumb_down</i>'.html_safe, box_idea_dislike_path(idea.box,idea), method: :post, remote: true %>
        <p><%= idea.votes.where(rate: false).count %></p>
      </div>
    </div>
    <%= image_tag(idea.photo.url(:medium), class: 'ids-image-card') unless idea.photo_file_name.nil? %>
  </header>
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone ideashare-idea-content">
    <div class="mdl-card__actions">
      <%= link_to(short_text(idea.title,35), [idea.box, idea]) %>
    </div>
  </div>
  <div class="ids-status"><%= t('box.'+idea.status) %></div>
  <% random = Random.new.rand(("a".."z").to_a.size) %>
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn-<%= "#{idea.id}#{("a".."z").to_a[random]}" %>">
    <i class="material-icons">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right ids-on-top" for="btn-<%= "#{idea.id}#{("a".."z").to_a[random]}" %>">
    <%= render 'ideas/menu', idea: idea %>
  </ul>
</section>