<p id="notice"><%= notice %></p>
<%= render @idea %>
<%= link_to 'Back', box_path(@box) %>

<%= render "votes/form" %>
<%= render "votes/votes" %>

<div class="comments">
  <% if !@idea.comments.nil? %>
    <%= render @idea.comments %>
  <% end %>
</div>
<div class="comment-form">
  <% if !current_user.nil? %>
    <%= render "comments/form" %>
  <% end %>
</div>
