<p id="notice"><%= notice %></p>
<%= render @idea %>
<%= link_to 'Edit', edit_box_idea_path(@box,@idea) %> |
<%= link_to 'Back', box_path(@box) %>

<div class="comments">
  <% if !@idea.comments.nil? %>
    <%= render @idea.comments %>
  <% end %>
</div>
<div class="comment-form">
  <% if !current_user.nil? %>
    <%= render "comments/form" %>
  <% end %>
</div>
