<p id="notice"><%= notice %></p>
<%= render @idea %>


<div class="page-header">
  <h3><%= t('idea.comments') %></h3>
</div>
<div class="comments">
  <% if !@idea.comments.nil? %>
      <ul class="media-list">
          <%= render @idea.comments %>
      </ul>
  <% end %>
</div>
<div class="comment-form">
  <% if !current_user.nil? %>
    <%= render "comments/form" %>
  <% end %>
</div>

<%= javascript_include_tag 'idea', 'data-turbolinks-track' => true %>
