<p id="notice"><%= notice %></p>

<h1>Listing Manager Comments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manager_comments.each do |manager_comment| %>
      <tr>
        <td><%= link_to 'Show', manager_comment %></td>
        <td><%= link_to 'Edit', edit_manager_comment_path(manager_comment) %></td>
        <td><%= link_to 'Destroy', manager_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_manager_comment_path %>
