<p id="notice"><%= notice %></p>
<h1><%= @admin_box.name %></h1>
<p><%= @admin_box.description %></p>

<div class="ideas">
  <% if !@admin_box.ideas.nil? %>
    <%= render @admin_box.ideas %>
  <% end %>
</div>
<div class="idea-form">
  <% if !current_user.nil? %>
    <%= render "admin/ideas/form" %>
  <% end %>
</div>

<%= link_to 'Edit', edit_admin_box_path(@admin_box) %> |
<%= link_to 'Back', admin_boxes_path %>
