<%= form_for([:admin,@admin_box,@admin_idea]) do |f| %>
  <% if @admin_idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_idea.errors.count, "error") %> prohibited this admin_idea from being saved:</h2>

      <ul>
      <% @admin_idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :rows => 5, :cols => 20 %>
  </div>
  <div class="field">
    <%= f.select :status, options_for_select(Idea.statuses.keys) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
