<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <header class="ideashare-idea ideashare-idea-header section__play-btn mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white ids-background-color ids-box-bg-<%= box.color %>">
    <h1><%= box.ideas.count %></h1>
  </header>
  <div class="mdl-card mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone ideashare-idea-content">
    <div class="mdl-card__supporting-text">
      <h4><%= link_to(box.name, box) %></h4>
      <%= box.description %>
    </div>
    <div class="mdl-card__actions">
      <a href="#" class="ideashare-link-action">
        <div class="mdl-card__actions--icon">
          <i class="material-icons">person</i>
        </div>
        <div class="mdl-card__actions--text">
          <%= box.user.username %>
        </div>
      </a>
      <a href="#" class="ideashare-link-action">
        <div class="mdl-card__actions--icon">
          <i class="material-icons">lightbulb_outline</i>
        </div>
        <div class="mdl-card__actions--text">
          <%= t('idea', count: box.ideas.count) %>
        </div>
      </a>
    </div>
  </div>
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1-<%= box.id %>">
    <i class="material-icons">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1-<%= box.id %>">
    <%= render 'boxes/menu', box: box %>
  </ul>
</section>