<p id="notice"><%= notice %></p>

<h1>Listing Admin Votes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_votes.each do |admin_vote| %>
      <tr>
        <td><%= link_to 'Show', admin_vote %></td>
        <td><%= link_to 'Edit', edit_admin_vote_path(admin_vote) %></td>
        <td><%= link_to 'Destroy', admin_vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_admin_vote_path %>
