<p id="notice"><%= notice %></p>
<h1><%= @manager_box.name %></h1>
<p><%= @manager_box.description %></p>

<div class="ideas">
  <% if !@manager_box.ideas.nil? %>
    <%= render @manager_box.ideas %>
  <% end %>
</div>

<%= link_to 'Edit', edit_manager_box_path(@manager_box) %> |
<%= link_to 'Back', manager_boxes_path %>
