<nav class="mdl-navigation">
  <%= link_to(I18n.t('navbar.left.table'), table_ideas_path , class: 'mdl-navigation__link') %>
  <%= link_to(I18n.t('navbar.left.boxes'), boxes_path , class: 'mdl-navigation__link') %>
  <a class="mdl-navigation__link" href="">Top</a>
  <a class="mdl-navigation__link" href="">Nasze pudełko</a>
</nav>
<div class="mdl-layout-spacer"></div>
<nav class="mdl-navigation mdl-ideashare-right-menu">
  <% if current_user.nil? %>
      <%= link_to(I18n.t('navbar.right.signin'), new_user_session_path, class: 'mdl-navigation__link') %>
      <%= link_to(I18n.t('navbar.right.signup'), new_user_registration_path, class: 'mdl-navigation__link' )%>
  <% else %>
      <%= link_to(current_user,'#', class: 'mdl-navigation__link')%>
      <a class="mdl-navigation__link" href=""><i class="material-icons">share</i></a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">favorite</i></a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">notifications</i></a>
      <a class="mdl-navigation__link" id="session-menu-button"><img src="/images/face.png"></img></a>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="session-menu-button">
        <%= link_to(I18n.t('navbar.right.editprofile'), edit_user_registration_path, class: 'mdl-menu__item') %>
        <%= link_to(I18n.t('navbar.right.logout'),destroy_user_session_path, method: :delete, class: 'mdl-menu__item') %>
      </ul>
  <% end %>
</nav>

