<p id="notice"><%= notice %></p>

<h1>Listing Manager Votes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manager_votes.each do |manager_vote| %>
      <tr>
        <td><%= link_to 'Show', manager_vote %></td>
        <td><%= link_to 'Edit', edit_manager_vote_path(manager_vote) %></td>
        <td><%= link_to 'Destroy', manager_vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_manager_vote_path %>
