<p id="notice"><%= notice %></p>
<%= render @manager_idea %>
<%= link_to 'Back', manager_box_path(@manager_box) %>

<%= render "manager/votes/votes" %>

<div class="comments">
  <% if !@manager_idea.comments.nil? %>
    <%= render @manager_idea.comments %>
  <% end %>
</div>
<div class="comment-form">
  <% if !current_user.nil? %>
    <%= render "manager/comments/form" %>
  <% end %>
</div>
