<!DOCTYPE html>
<html>
<head>
  <title>IdeasBoxProject</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'box', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'idea', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'public', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
      var CURRENT_USER = <%= current_user != nil  ? current_user.id : 'null' %>;
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render "homepage/shared/navbar" %>
  <div id="ib-maincontent">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</div>
</body>
</html>
